html{
	background-color: #fff;
	color: #555;
	font-family: 'pilcrow', 'Arial', 'Sans-serif';
	font-weight: 300;
	font-size: 20px;
	text-rendering: optimizeLegibility;
}

.App {
  text-align: center;
}

.App-logo {
  height: 80px;
  position: absolute;
  top: 2%;
  left: 5%;
  max-width: 130px;
}

.category-header-position{
	position: absolute;
	left: 10%;
}
.App-header {
  background: url('bg.jpg');
  background-size: cover;
  background-position: center;
  background-color: #222;
  height: 100vh;
  padding: 20px;
  color: white;
}

.side-pane{
		background-color:rgba(72,72,72,0.4);
		padding-left:35px;
		padding-right:35px;
		padding-top:35px;
		padding-bottom:50px;
		width: 450px;
		float: left;
		left: 75%;
		position: absolute;
	  margin-top:30px;
		margin-left: -260px;
	  -moz-border-radius: 7px;
	  -webkit-border-radius: 7px;
}

.hero-box{
	margin-top: 400px;
}

.hero-text-box{
	position: absolute;
  font-size: 8em;
  color: #eb3b34;
	top: 30%;
	left: 10%;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  position: absolute;
  font-size: large;
  top: 40%;
  left: 10%;
  font-size: 1em;
}
